.table-hover-custom tr:hover{
    color: white;
    background-color: black !important;
}

.margin-top-150{
    margin-top: 150px;
}

.black-hr{
    border-color: #101010;
}

.modal {
	overflow: auto;
	color: #333;
}

a[data-gallery] > img{
    width: 25%;
}

.messagesContainer{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
}

.about-us-img{
    width: 100%;
    height: auto;
    opacity: 0.7;
    margin-top: -30px;
}